[data]
    name = "{{ promptString "name" }}"
    email = "{{ promptString "email" }}"
    # Detect OS for conditional configurations
    {{- $osid := .chezmoi.os }}
    {{- if eq .chezmoi.os "linux" }}
    {{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{-     $osid = "wsl" }}
    {{-   end }}
    {{- end }}
    osid = "{{ $osid }}"

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]