[user]
    name = "{{ .name }}"
    email = "{{ .email }}"

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore

[init]
    defaultBranch = main

[diff]
    colorMoved = default

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true
    theme = Catppuccin-mocha

[merge]
    conflictstyle = diff3

[pull]
    rebase = false

[push]
    default = current
    autoSetupRemote = true

[alias]
    s = status
    c = commit
    co = checkout
    b = branch
    p = push
    pf = push --force-with-lease
    l = log --oneline
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend --no-edit