[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	editor = {{ if hasKey . "editor" }}{{ .editor }}{{ else }}vi{{ end }}
	excludesfile = ~/.gitignore
	autocrlf = input
{{- if (.termutils) }}
	pager = {{ if lookPath "delta" }}delta{{ else }}less{{ end }}
{{- end }}

[init]
	defaultBranch = main

[color]
	ui = auto

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true


[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk

{{- if and .termutils (lookPath "delta") }}
[delta]
	navigate = true
	light = false
	theme = Catppuccin-mocha
	line-numbers = true
	side-by-side = true

[interactive]
	diffFilter = delta --color-only
{{- end }}
